.jumbotron {
	height: 200px;
	padding-top: 20px;
	margin-bottom: 10px;
}

#navbar {
	border: solid;
	padding: 5px;
}

#signin {
	position: relative;	
	left: 900px;

}

.currentGames {
	margin-left: 100px;
}

.teamLogo2 {

}

#searchteams {
	margin-bottom: 20px;
}

#profile {
	position: relative;	
	left: 900px;

}

table th {
	text-align: left;
	padding: 20px;
	border: solid;

}

form {
	margin-left: 30px;
	margin-bottom: 20px;
}

#displayScores {
	margin-left: 45px;
	float: left;
	position: absolute;
}

#displayOdds {
	margin-right: 100px;
	float: right;
	position: relative;

}