.jumbotron {
	height: 200px;
	padding-top: 20px;
	margin-bottom: 30px;
}

#navbar {
	border: solid;
	padding: 5px;
}

#signin {
	position: relative;	
	left: 700px;

}

#searchteams {
	margin-bottom: 20px;
}

#profile {
	position: relative;	
	left: 700px;

}

table {
	/*border: solid;
	padding-bottom: 10px;
	margin-bottom: 10px;*/
}

form {
	margin-left: 30px;
	margin-bottom: 20px;
}

#displayScores {
	margin-left: 150px;
	float: left;
	position: absolute;
}

#displayOdds {
	margin-right: 100px;
	float: right;
	position: relative;

}